// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Prevent scrollbar from shifting the page when it appears
html {
    margin-left: calc(100vw - 100%);
}

body {
    font-size: 15px;
}

.intro {
    color: #444;
}

.choice {
    .description {
        font-size: 14px;
    }

    .radios {
        font-size: 14px;
    }
}

.config {
    font-size: 12px;
    font-family: monospace;
}

.config-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
}
